.contCards {
  display: inline-block;
}

.card {
  height: 430px;
  width: 340px;
  display: block;
  margin-left: 60px;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 0 0 10px #FF99D7, 0 0 20px #FF99D7, 0 0 30px #FF99D7, 0 0 10px #FF99D7,
  0 0 10px #FF99D7, 0 0 10px #FF99D7, 0 0 10px #FF99D7;
}
.card:hover {
  transform: scale(1.02);
}

/* .card::after {
  content: "";
  background: rgb(18, 16, 16);
  opacity: 0.5; top: 0; left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

.title-card {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 25px;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin: 5px;
  text-shadow:0 0 10px #FF99D7, 0 0 20px #FF99D7, 0 0 30px #FF99D7, 0 0 10px #FF99D7,
  0 0 10px #FF99D7, 0 0 10px #FF99D7, 0 0 10px #FF99D7;
}

.img {
  border-radius: 20px;
  width: 330px;
  height: 360px;
}

