.landing {
  background-image: url('../../assets/./images/myImage.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover; */


.cont-title {
  border-radius: 32px;
  margin: auto 10px auto 20%;
  display: flex;
  flex-direction: column;
  z-index: 10;
  text-align: left;
  color: #fff;
}

.cont-title h1 {
  font-size: calc(5em + 1vw);
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-top: 250px;
  text-shadow:0 0 10px #FF99D7, 0 0 20px #FF99D7, 0 0 30px #FF99D7, 0 0 10px #FF99D7,
  0 0 10px #FF99D7, 0 0 10px #FF99D7, 0 0 10px #FF99D7;;

}

.cont-title h4 {
  font-size: 50px;
  color: #fff;
  margin: 15px 15px 0px 0;
  text-shadow:0 0 10px #FF99D7, 0 0 20px #FF99D7, 0 0 30px #FF99D7, 0 0 10px #FF99D7,
  0 0 10px #FF99D7, 0 0 10px #FF99D7, 0 0 10px #FF99D7;;
}


.btn {
  margin-left: 50%;
  margin-bottom: 50%;
  height: 60px;
  width: 300px;
  background-color: black;
  box-shadow: 0 0 10px #FF99D7, 0 0 20px #FF99D7, 0 0 30px #FF99D7, 0 0 10px #FF99D7,
  0 0 10px #FF99D7, 0 0 10px #FF99D7, 0 0 10px #FF99D7;
  border-radius: 24px;
  text-decoration: none;
  padding: 2px 15px;
  color: aliceblue;
  font-size: 40px;
}
.btn:hover {
  color: aliceblue;
  background-color: rgb(30, 30, 30) ;
}