.search {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

.input {
  font-size: 20px;
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  color: #444;
  line-height: 1.3;
  padding: .4em 1.4em .3em .8em;
  width: 350px;
  box-sizing: border-box;
  margin: 5px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);

}
.input::-ms-expand {
  display: none;
}
.input:hover {
  border-color: #888;
}
.input:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px #aa926c;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.input option {
  font-weight:normal;
}

@media (max-width: 560px){

}

.btn- {
  width: 200px;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  font-weight: 800;
  font-size: 20px;
  color: #ffffff;
  background-color: #733ca9;
  border-radius: 10px;
  border: 2px solid #8d7248;
}

.btn-:hover {
  box-shadow: 0 0 40px #ab0bab95 inset
}